[user]
	email = jav.jailson@gmail.com
	name = jailson araujo
[core]
	editor = vim
[alias]
  s  = !git status
  ss = !git status -s
  c  = !git add --all && git commit -m
  l  = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
